
.purple{
	background-color: powderblue;

}
.footer {
	height: 80px;
	  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  
}

.footer p {
    text-align: center;
  margin: 3px;
}
